@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, BlinkMacSystemFont, "Helvetica Neue", "Open Sans",
    sans-serif;
  font-size: 18px;
  background-color: #fff;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Rock Salt", cursive;
}
h1 {
  font-size: 36px;
  text-align: center;
  margin: 24px 0;
}
h3 {
  font-size: 20px;
  margin: 12px 0;
}
#main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerCard {
  height: 25%;
  width: 60%;
  border: 2px solid #000;
  border-radius: 20px;
}
button {
  border: 1px solid #000;
  border-radius: 18px;
  margin: 24px 0;
  padding: 8px 18px;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap;
}
button:hover {
  border-width: 2px;
  padding: 12px 18px;
}
.source {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 48px;
  }
  #main {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 200px repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  #main .title {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  #main .playerCard {
    grid-row: 2/4;
    height: 100%;
    width: 60%;
  }
  #main .playerCard1 {
    justify-self: end;
    grid-column: 1/2;
  }
  #main .playerCard2 {
    justify-self: start;
    grid-column: -2/-1;
  }
  #main .vs,
  #main .start {
    grid-column: 2/3;
  }
  .vs{
    align-self:end;
  }
  .start{
    align-self:start;
  }
  button {
    width: -moz-fit-content;
    width: fit-content;
  }
}
