@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, BlinkMacSystemFont, "Helvetica Neue", "Open Sans",
    sans-serif;
  font-size: 18px;
  background-color: #fff;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Rock Salt", cursive;
}
h1 {
  font-size: 36px;
  margin: 24px 0;
}
h3 {
  font-size: 24px;
  margin: 12px 0;
}
#main {
  border: 1px solid red;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #main > * {
  border: 1px solid blue;
} */
.playerCard {
  background-color: #666;
  height: 25%;
  width: 60%;
}
button {
  border: 1px solid #000;
  border-radius: 18px;
  margin: 24px 0;
  padding: 8px 18px;
  font: inherit;
  background-color: inherit;
  width: -moz-fit-content;
  width: fit-content;
}
.source{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
}
